body {
  width: 50%;
  margin: 0 auto;
}

header {
  text-align: center;
}
header h1 {
  font-size: 100px;
  color: orange;
  font-weight: 200;
}
input {
  font-size: 20px;
  color: #2a343d;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #2c3e50;
  padding: 5px;
}

.task {
  background-color: rgb(6, 157, 216);
  padding: 15px;
  margin: 5px;
  list-style-type: none;
  border-radius: 5px;
  cursor: pointer;
}
ul{
  list-style-type:none;
  }

.task span {
  color: #FFFFFF;
}


.icon {
  float: right;
  margin-right: 20px;
}
.edit-todo {
  width: 75%;
  font-size: 16px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}

article {
  display: grid;
}

.button {
  margin: 0 10px;
  padding: 10px;
  font-size: 14px;
  color: #6c6777;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
  margin-top: 15px;
}
.button.selected {
  color: #FFF;
  background-color: #6c6777;
}